<svg style="display: none;">
    <defs>
        <g id="baseline-icon" text-anchor="middle" font-size="100px" fill="currentColor">
            <text dominant-baseline="central" y="-57">BASE</text>
            <text dominant-baseline="central" y="57">-LINE</text>
        </g>
        <g id="hide-icon">
            <path d="M2 6Q7 0 12 6Q7 12 2 6Z" stroke-width="1" stroke="currentColor" fill="none" />
            <circle cx="7" cy="6" r="2" stroke="none" fill="currentColor" />
            <line stroke-width="1" x1="4.4" y1="10.3" x2="10.4" y2="2.3" class="keyBackground" />
            <line stroke-width="1" x1="3.6" y1="9.7" x2="9.6" y2="1.7" stroke="currentColor" />
        </g>
        <g id="pin-icon" text-anchor="middle" font-size="100px" fill="currentColor">
            <text dominant-baseline="central">
                PIN
            </text>
        </g>
    </defs>
</svg>

<main class="main">
    <section class="parts-primary">
        <div class="graphBox" data-sticky-graph="{{ alt_sticky_graph }}" data-animated="{{ alt_animated }}">
            <div class="graph-sizer">
                <svg id="fr-graph" viewBox="0 0 800 346" data-labels-position="{{ labelsPosition }}"></svg>
            </div>

            <div class="tools collapseTools">
                <div class="copy-url">
                    <button id="copy-url">Copy URL</button>
                    <button id="download-faux">Screenshot</button>
                </div>

                <div class="zoom">
                    <span>Zoom:</span>
                    <button>Bass</button>
                    <button>Mids</button>
                    <button>Treble</button>
                </div>

                <div class="normalize">
                    <span>Normalize:</span>
                    <div>
                        <input type="number" inputmode="decimal" id="norm-phon" required min="0" max="100" value="{{ default_norm_db }}" step="1" onclick="this.focus();this.select()"></input>
                        <span>dB</span>
                    </div>
                    <div>
                        <input type="number" inputmode="decimal" id="norm-fr" required min="20" max="20000" value="{{ default_norm_hz }}" step="1" onclick="this.focus();this.select()"></input>
                        <span>Hz</span>
                    </div>
                    <span class="helptip">
                        ?<span>Choose a dB value to normalize to a target listening level, or a Hz value to make all
                            curves match at that frequency.</span>
                    </span>
                </div>

                <div class="smooth">
                    <span>Smooth:</span>
                    <input type="number" inputmode="decimal" id="smooth-level" required min="0" value="5" step="any"
                        onclick="this.focus();this.select()"></input>
                </div>

                <div class="miscTools">
                    <button id="inspector"><span>╞</span> inspect</button>
                    <button id="label"><span>▭</span> label</button>
                    <button id="download"><span><u>⇩</u></span> screenshot</button>
                    <button id="recolor"><span>○</span> recolor</button>
                </div>

                <div class="expand-collapse">
                    <button id="expand-collapse"></button>
                </div>

                <svg id="expandTools" viewBox="0 0 14 12">
                    <path d="M2 2h10M2 6h10M2 10h10" stroke-width="2px" stroke="#878156" stroke-linecap="round"
                        transform="translate(0,0.3)" />
                    <path d="M2 2h10M2 6h10M2 10h10" stroke-width="2px" stroke="currentColor" stroke-linecap="round" />
                </svg>
            </div>
        </div>

        <div class="manage">
            <table class="manageTable">
                <colgroup>
                    <col class="remove">
                    <col class="phoneId">
                    <col class="key">
                    <col class="calibrate">
                    <col class="baselineButton">
                    <col class="hideButton">
                    <col class="lastColumn">
                </colgroup>
                <tbody class="curves"></tbody>
                <tr class="addPhone">
                    <td class="addButton">⊕</td>
                    <td class="helpText" colspan="5">(or middle/ctrl-click when selecting; or pin other IEMs)</td>
                    <td class="addLock">LOCK</td>
                </tr>
                <tr class="mobile-helper"></tr>
            </table>
        </div>

        <div class="accessories"></div>

        <div class="external-links"></div>
    </section>

    <section class="parts-secondary">
        <div class="controls">
            <div class="select" data-selected="models">
                <div class="selector-tabs">
                    <button class="brands" data-list="brands">Brands</button>
                    <button class="models" data-list="models">Models</button>
                    <button class="extra">Equalizer</button>
                </div>

                <div class="selector-panel">
                    <input class="search" type="text" inputmode="search" placeholder="Search"
                        onclick="this.focus();this.select()" />

                    <svg class="chevron" viewBox="0 0 12 8" preserveAspectRatio="none">
                        <path d="M0 0h4c0 1.5,5 3,7 4c-2 1,-7 2.5,-7 4h-4c0 -3,4 -3,4 -4s-4 -1,-4 -4" />
                    </svg>
                    <svg class="stop" viewBox="0 0 4 1">
                        <path d="M4 1H0C3 1 3.2 0.8 4 0Z" />
                    </svg>

                    <div class="scroll-container">
                        <div class="scrollOuter" data-list="brands">
                            <div class="scroll" id="brands"></div>
                        </div>
                        <div class="scrollOuter" data-list="models">
                            <div class="scroll" id="phones"></div>
                        </div>
                    </div>
                </div>

                <div class="extra-panel" style="display: none;">
                    <div class="extra-upload">
                        <h5>Uploading</h2>
                            <button class="upload-fr">Upload FR</button>
                            <button class="upload-target">Upload Target</button>
                            <br />
                            <span><small>Uploaded data will not be persistent</small></span>
                            <form style="display:none"><input type="file" id="file-fr" accept=".csv,.txt" /></form>
                    </div>
                    <div class="extra-eq">
                        <h5>Parametric Equalizer</h2>
                            <div class="select-eq-phone">
                                <select name="sourcePhone">
                                    <option value="" selected>Choose source headphone model</option>
                                </select>
                                <select name="targetPhone">
                                    <option value="" selected>Choose taget EQ model</option>
                                </select>
                            </div>
                            <div class="filters-header">
                                <span>Type</span>
                                <span>Frequency</span>
                                <span>Gain</span>
                                <span>Q</span>
                            </div>
                            <div class="filters">
                                <div class="filter">
                                    <span>
                                        <input name="enabled" type="checkbox" checked></input>
                                        <select name="type">
                                            <option value="PK" selected>PK</option>
                                            <option value="LSQ">LSQ</option>
                                            <option value="HSQ">HSQ</option>
                                        </select>
                                    </span>
                                    <span><input name="freq" type="number" min="20" max="20000" step="1"
                                            value="0"></input></span>
                                    <span><input name="gain" type="number" min="-40" max="40" step="0.1"
                                            value="0"></input></span>
                                    <span><input name="q" type="number" min="0" max="10" step="0.1"
                                            value="0"></input></span>
                                </div>
                            </div>
                            <div class="settings-row">
                                <span>AutoEQ Range</span>
                                <span><input name="autoeq-from" type="number" min="20" max="20000" step="1"
                                        value="20"></input></span>
                                <span><input name="autoeq-to" type="number" min="20" max="20000" step="1"
                                        value="20000"></input></span>
                            </div>
                            <div class="filters-button">
                                <button class="add-filter">＋</button>
                                <button class="remove-filter">－</button>
                                <button class="sort-filters">Sort</button>
                                <button class="import-filters">Import</button>
                                <button class="export-filters">Export</button>
                                <button class="autoeq">AutoEQ</button>
                                <button class="export-graphic-filters">Export Graphic EQ (For Wavelet)</button>
                                <button class="readme">Guide</button>
                            </div>
                            <a style="display: none" id="file-filters-export"></a>
                            <form style="display:none"><input type="file" id="file-filters-import" accept=".txt" />
                            </form>
                    </div>
                    <div class="extra-tone-generator">
                        <h5>Tone Generator</h2>
                            <div class="settings-row">
                                <span>Freq Range</span>
                                <span><input name="tone-generator-from" type="number" min="20" max="20000" step="1"
                                        value="20"></input></span>
                                <span><input name="tone-generator-to" type="number" min="20" max="20000" step="1"
                                        value="20000"></input></span>
                            </div>
                            <div><input name="tone-generator-freq" type="range" min="0" max="1" step="0.0001"
                                    value="0" /></div>
                            <div>
                                <button class="play">Play</button>
                                <span>Frequency: <span class="freq-text">20</span> Hz</span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="display: none" class="extra-eq-overlay">AutoEQ is running, it could take 5~20 seconds or more.</div>
</main>